header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(148, 223, 148);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}